.home-page
  .first-screen
    .container
      .row
        .span12
          %h1
            CloudSlicing
            %span.beta Beta

        .span12.tag-line
          ( 3D Model
          %i.icon-arrow-right
          CloudSlicing
          %i.icon-arrow-right
          3D Printing )

  .page-break

  .container
    .row
      .span12
        %h2 Print parts faster then ever before
        %p
          Cloud Slicing is a simple way to automate the creation of GCode for your 3D printable
          files. It uses open source slicing software to automatically let you create and store your
          GCode files, while enabling the use of an automated print server.

        %h2 What is the software behind CloudSlicing?
        %p
          We use an excellent open source slicing tool, Slic3R, to convert each 3D file into the
          GCode instructions for your 3D printer.

        %h2 What formats do you support?
        %p
          Currently, we support the conversion of STL and OBJ 3D models into GCode for
          consumer 3D printers.

        %h2 Want to get involved?
        %p
          We’ve spent just a few weeks on CloudSlicing, so there’s a long way to go. We’d love
          to hear any suggestions you have for what should be next on our list, so drop us a note.
          Or better yet, ask to get involved.
